<div *ngIf="contacts.length > 0;then listContacts else noContacts"> </div>

<ng-template #listContacts>
    <h1>Liste des contactes</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Tel</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                <th scope="col">
                    <button class="btn btn-primary mycustombutton" (click)="add()">+</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <th scope="row">{{contact.id}}</th>
                <td>{{contact.name}}</td>
                <td>{{contact.tel}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <button class="btn btn-success" (click)="edit(contact)">Edite</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="delete(contact)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #noContacts>
    pas de contactes
</ng-template>

<div class="container">
    
<form [formGroup]="myFormGroup">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Full Name</label>
        <input type="text" formControlName="name" class="form-control" id="exampleInputName1">
        <div  *ngIf="isError" style="color: brown;">{{myFormGroup.value.name}} already exists</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPhone1" class="form-label"> Phone Number</label>
        <input type="text" formControlName="phone" class="form-control" id="exampleInputPhone1">
      </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>

</div>

<br><br>
<div class="container">
    <form  >
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputpassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputpassword">
          </div>
          <button class="btn btn-primary">Login</button>
    </form>
</div>